[2021-12-29 19:48] Shinyzenith opened #1 "Config Handler."
JSON config file for swhkd.

[2021-12-29 19:48] Shinyzenith opened #2 "Rust rewrite for low memory and cpu overhead"

[2021-12-29 21:28] Shinyzenith opened #3 "MacOS support by removing setsid -f and replacing it with nohup"
Will need mac users to test said feature when the PR Is ready.

[2022-01-05 11:19] Shinyzenith opened #8 "Config file design and handling"
Issue for rust rewrite project.

[2022-01-05 20:36] UnsignedArduino commented on #8
If we are gonna do JSON files, maybe something like this:
[code]
(Obviously, this is trying to show off every setting you can use)

[2022-01-05 21:23] Shinyzenith commented on #8
Have you seen the config file of sxhd? I plan to clone it exactly as is.

[2022-01-05 21:27] UnsignedArduino commented on #8
That's probably a better idea :)

[2022-01-16 15:47] Shinyzenith opened #9 "Looking for maintainers. (rust devs)"
The title says it all, I need someone to go over patches and maintain the project.

[2022-01-18 13:44] #2 closed

[2022-01-21 17:11] Idlidev commented on #8
I think making the config file of sxhkd and swhkd cross compatible will be the better idea rather than using something like TOML or JSON

[2022-01-22 10:49] Shinyzenith opened #11 "add support for redirecting command output, just as in sxhkd"
Not a priority right now. However I do intend to implement this eventually.

[2022-01-22 11:10] Shinyzenith opened #12 "Signal handler"
1. SIGINT
2. SIGHUP
3. SIGTERM

[2022-01-22 14:45] Shinyzenith opened #13 "Make app async with tokio"

[2022-01-22 15:33] Shinyzenith commented on #8
@angelofallars Hi angelo, you can go ahead and make a config-devel branch for your work.

Please do send a PR if possible and mark it as a draft if you do 🥰

[2022-01-22 15:35] angelofallars commented on #8
Will do!

[2022-01-23 07:27] Shinyzenith commented on #8
https://github.com/baskerville/sxhkd/blob/master/src/parse.c I believe this can help you @angelofallars

[2022-01-23 14:55] rv178 opened #16 "Proper man pages"
Proper man pages

[2022-01-23 14:57] Shinyzenith commented on #16
Add good documentation

[2022-01-24 00:42] UnsignedArduino opened #17 "polkit rules don't work on Debian"

[2022-01-24 00:44] Shinyzenith commented on #17
Polkit implementation of debian buster still uses old ini style rules.
Not too important for the project right now, but I will accept patches from someone who knows they're doing.

[2022-01-24 01:59] Shinyzenith commented on #17
Possible workaround, update to debian 11 bullseye....

[2022-01-26 07:46] Shinyzenith opened #18 "IPC refactor"
the current crate that we are using for IPC literally does not let me flush the buffer unless the main thread execution is done.

We might need to implement a manual one with std::net, can someone take this task?

@angelofallars @Idlidev @UnsignedArduino @LinusBotTips

[2022-01-26 07:46] Shinyzenith commented on #18
and since I can't flush the buffer, we need to wait for SWHKD to STOP inorder for all shell commands to go through, which is incredibly stupid

[2022-01-26 14:13] Shinyzenith commented on #17
I have decided to not support ini style polkit rules, if you're interested in adding the functionality then fork the project.

[2022-01-26 14:13] #17 closed

[2022-01-29 08:16] Shinyzenith commented on #8
any updates on this?

[2022-01-31 17:59] angelofallars commented on #8
I finally added a basic config parser: see commit on `config` 252ce9f2e4d314e0c4e90c5d34189f2209c99a97 . I also wrote some unit tests to test the config parser, as it was the only way to test it. It is still not complete, however.

As an example, here's a config file that "works":

[code]

### TODO:

- [ ] Add more supported key presses (alphabetical, numerical, insert, home, delete, end, super, e

[2022-02-05 23:44] #8 closed

[2022-02-06 03:34] Shinyzenith opened #28 "config.rs todo"
- [x]  convert keychord to lowercase and then parse from hashmap.
- [x]  Ignore duplicates.
- [ ] Add multiple keysym support ( vector ).
- [x] Return `evdev::Key::` object in hotkey struct.

[2022-02-06 03:36] Shinyzenith commented on #28
@EdenQwQ @angelofallars Oh and, just FYI I made `keysym`, `modifier`, and `command` fields public in main branch.

[2022-02-06 05:44] Shinyzenith commented on #28
![image](https://user-images.githubusercontent.com/60808802/152669195-fe3184a2-457b-4bb6-bb38-985544c25741.png)
Would be better if the struct had the evdev key objects in them.

[2022-02-06 05:48] Shinyzenith commented on #28
nvm we already do that, I thought they were strings. My bad ^

[2022-02-06 21:16] Shinyzenith commented on #28
I think it's best not to implement point 3 for now.

[2022-02-06 21:16] #28 closed

[2022-02-08 09:46] Shinyzenith opened #34 "Update last_hotkey in daemon.rs to use Option<T>"
Currently we're using a dummy hotkey to initialize the struct, this is really jank and should be a temporary solution only.

I don't have sufficient knowledge of `Option<T>`. Someone with the sufficient knowledge can send a patch.

[2022-02-08 11:34] Shinyzenith commented on #12
We need to handle `SIGUSR1` and automatically reload our device cache and hotkey cache.

[2022-02-08 11:35] #13 closed

[2022-02-09 00:03] UnsignedArduino opened #36 "Curly brace syntax"
![image](https://user-images.githubusercontent.com/38868705/153096147-1d4e86ac-9f07-4de3-8bfd-66da7ff0621e.png)

[Discord message](https://discord.com/channels/925817758334201937/925817758334201940/940758460176429147)

[2022-02-09 00:07] UnsignedArduino commented on #11
I'll do this ~~eventually~~.
How are we going to specify where to write the file - in the config?

[2022-02-09 01:19] UnsignedArduino opened #37 "Automatically detect sxhkd config and import it"
![image](https://user-images.githubusercontent.com/38868705/153103203-aa453159-e9f2-4f22-907b-cf74e19e6f38.png)

[Discord message](https://discord.com/channels/925817758334201937/925817758334201940/940758082986848267)

If we detect a sxhkd config we should prompt the user in stdin whether to import it or not, if the user says no then we won't ask them again and if yes, we import it.

[2022-02-09 01:24] UnsignedArduino opened #38 "Grab keys so they don't go to a focused application"
[Discord message](https://discord.com/channels/925817758334201937/925817758334201940/940778099925200917)

Somehow we should provide an option to swallow keys so that they don't go to a focused application / the tty.

[2022-02-09 01:48] Shinyzenith commented on #11
Cli flag

[2022-02-09 01:49] Shinyzenith opened #40 "Write proper tests for daemon.rs and server.rs"

[2022-02-09 01:49] UnsignedArduino commented on #11
Example command?

[2022-02-09 01:51] angelofallars commented on #40
To write tests for `daemon.rs`, we must first split up the `main()` function into several, smaller functions, so we can individually test each one of them.

[2022-02-09 01:52] Shinyzenith commented on #40
That is a given, yes. I will start working on that soon

[2022-02-09 01:53] angelofallars commented on #40
I can work on that too, since it's easier for me to write tests on functions that I myself split up.

[2022-02-09 01:58] Shinyzenith commented on #11
pkexec swhkd --redirect /var/log/out

[2022-02-09 15:22] Shinyzenith opened #41 "[high prio] switch to using event input signals ( 1, 0, 2) for a more consistent and predictable output set."

[2022-02-13 08:34] #36 closed

[2022-02-13 16:40] EdenQwQ opened #45 "config: handle multiple curly braces"
- [x] Handle multiple curly braces in one line. E.g. `super + {_, ctrl} + {_, shift} + {1-9, 0}`

[2022-02-13 19:49] Shinyzenith commented on #41
all of our possible applications are listed over at: https://canary.discord.com/channels/925817758334201937/941000936460013608/941000959407058955

[2022-02-16 14:31] angelofallars commented on #45
@NikolaTesla13

As stated before in chat, we're gonna work on the [`config_devel`](https://github.com/waycrate/swhkd/tree/config_devel) branch. There are multiple unit tests in `config.rs`. Two tests about multiple curly braces fail.

All you need to do is make those two tests pass while making sure the other tests still pass. That's pretty much it.

Don't forget to add comments for clarity if som

[2022-02-18 13:49] #45 closed

[2022-02-20 15:58] Shinyzenith opened #51 "SIGUSR1 and SIGUSR2 for pausing and resuming hotkey detection, respectively"

[2022-02-20 15:59] Shinyzenith commented on #51
this helps in situations where you don't want swhkd to run commands, such as when you are trying to use a tiling window manager in a vm where the hotkeys are similar.

If this is not done, for example if we use the super + enter hotkey ( common keybind for default terminal ) then it will launch said command for our current window manager & the vm which is clearly a problem.

[2022-02-22 07:15] #34 closed

[2022-02-27 17:44] oncomouse opened #56 "Issue with mapping commas"
**Version Information:**
 - Linux archlinux 5.16.2-arch1-1 #1 SMP PREEMPT Thu, 20 Jan 2022 16:18:29 +0000 x86_64 GNU/Linux
 - swhkd 1.0.0

**Describe the bug:**

I'm trying to map commas and having some problems. The map I'm trying to write is:

[code]

But this won't work because swhkd appears to use the ascii character (",") instead of the keysym name ("comma") in mappings, which is fine, except

[2022-02-27 19:01] Shinyzenith commented on #56
@angelofallars @EdenQwQ Hi my dear config parsing coders ( 🤣 ).

@oncomouse thank you so much for the bug report , ^ they should get back to you soon. I did not write the config parser so sadly I can't be of much help at the moment.

[2022-02-28 08:39] angelofallars commented on #56
Hi @oncomouse!

After examining our code, it seems that we do have `comma` correctly mapped. However, in your config:

[code]

We currently do not have `period` mapped as of now. Instead, you can only use `dot` for now. I will add the `period` mapping right away.

For this mapping:
[code]

We haven't implemented escaping commas inside curly braces yet. I think we'll use backslash escapes for this

[2022-02-28 10:34] angelofallars commented on #56
@oncomouse

Update: I added handling to escape commas inside braces in PR #57, the syntax looks like this:

[code]

You can escape commas inside braces with a leading backslash `\`. What are your thoughts on this?

[2022-02-28 15:26] Shinyzenith commented on #56
@oncomouse please recompile from master branch, and let us know if that fixed it!

[2022-02-28 18:25] #41 closed

[2022-02-28 21:27] #51 closed

[2022-02-28 21:28] Shinyzenith commented on #38
I still have no idea as to how I'm supposed to implement this

[2022-03-01 23:58] loiccoyle opened #59 "swhkd doesn't start: Os Error, Function not implemented"
**Version Information:**
 - Distribution Information ( run `uname -a` ):
 ```Linux FrameWork 5.16.11-arch1-1 #1 SMP PREEMPT Thu, 24 Feb 2022 02:18:20 +0000 x86_64 GNU/Linux```
 - swhkd version ( `swhkd -V` )
 `swhkd 1.0.0`

**Describe the bug:**
I installed from the AUR (`swhkd-git`), when I try to run start the daemon I get the following error msg:
[code]

**Expected behavior:**
The daemon to sta

[2022-03-02 05:51] Shinyzenith commented on #59
@vainiovano Could this possibly have something to do with tokio?

[2022-03-02 09:21] angelofallars opened #60 "Load multiple config files"
Add functionality for loading multiple config files. One approach I've thought is to use `use` statements at the start of the file, like this:

[code]

The path can be relative like the one above or something absolute:

[code]

[2022-03-02 09:39] Shinyzenith commented on #60
Or `source`

[2022-03-02 13:06] Shinyzenith commented on #59
@loiccoyle Hi! try cloning the repo to some directory and then run `git checkout -q d413ac820ad6c288da96363e1af76a22964ffcb1`. Then recompile and install. If it works after that then it means that tokio is the reason for the problem.

[2022-03-02 14:40] oncomouse commented on #56
Yes, this is fixed. FWIW, I prefer the `{comma, period}` syntax. Thanks!

[2022-03-02 14:40] #56 closed

[2022-03-02 15:37] loiccoyle commented on #59
I just did that and no crash!

[2022-03-02 16:51] vainiovano commented on #59
@loiccoyle could you run the command with `strace` or something similar and send the output? "Function not implemented" is the error message for `ENOSYS`, but I have no idea what causes that.

[2022-03-02 16:52] Shinyzenith commented on #59
![image](https://user-images.githubusercontent.com/60808802/156409062-6026e88f-d8eb-43f5-94be-31c0d9cd9162.png)
I think one of these 3 are causing it.

[2022-03-02 16:53] Shinyzenith commented on #59
Since it's not a thread panic, meaning it's not a hard crash and probably a soft one introduced by one of the `?`.

[2022-03-02 16:54] Shinyzenith commented on #59
Since `ENOSYS` is a libc error, I think it boils down to the first arrow in the image.

[2022-03-02 16:55] Shinyzenith commented on #59
oh and @loiccoyle while you're at it, would you mind checking if your system is uptodate?

[2022-03-02 17:00] Shinyzenith commented on #59
Oh! @loiccoyle can you try swhkd-musl-git? since it will be dynamically linked, we rule out bugs in our codebase with it.
If it works it will indicate that the bug has something to do with your glibc version.

[2022-03-02 17:04] loiccoyle commented on #59
Here is the strace.

[swhkd_strace.txt](https://github.com/waycrate/swhkd/files/8171440/swhkd_strace.txt)

Yep fully up to date.

If it works it will indicate that the bug has something to do with your glibc version.

Same behaviour.

[2022-03-02 18:49] vainiovano commented on #59
@loiccoyle Does #62 fix this?

[2022-03-02 18:57] Shinyzenith commented on #59
Closed by mistake, @loiccoyle try a recompile from main and let us know.

[2022-03-02 18:59] loiccoyle commented on #59
Yep it works ! Thanks!

[2022-03-02 19:02] Shinyzenith commented on #59
Sweet.

[2022-03-02 19:02] #59 closed

[2022-03-02 19:02] Shinyzenith commented on #59
Thank you @vainiovano <3

[2022-03-02 19:10] Shinyzenith commented on #38
run evdev::Device::grab on a device, handle keybinds as you would and if they aren't keybinds, use a virtual device ( uinput ) to send that signal instead.

[2022-03-02 19:10] Shinyzenith commented on #38
Now that we know the method this seems a lot more achievable.

[2022-03-02 19:10] Shinyzenith commented on #38
@EdenQwQ @angelofallars @vainiovano @Idlidev @UnsignedArduino @LinusBotTips anyone interested in claiming this task?

[2022-03-02 19:24] angelofallars commented on #38
Me! I don't exactly know how to implement it yet, but I will find a way regardless. 😄

[2022-03-02 19:28] Shinyzenith commented on #38
https://github.com/kmonad/kmonad/issues/495#issuecomment-1057220710 this should help @angelofallars.

[2022-03-03 11:17] angelofallars opened #66 "ctrl + c in terminal does not close swhkd"
Pressing Ctrl + C in the terminal running swhkd does not close it, but it should.

[2022-03-03 11:22] Shinyzenith commented on #66
This is due to Tokio.

[2022-03-03 11:28] angelofallars commented on #66
I see. Then how should we implement exiting from swhkd? Right now it's harder to exit swhkd than vim. 😂

[2022-03-03 11:38] EdenQwQ commented on #66
Can use the pkill command in swhkdrc for now

[2022-03-03 18:04] vainiovano commented on #66
SIGINT currently pauses hotkey checking temporarily. Another signal should be used for that instead if Ctrl+C should terminate swhkd.

[2022-03-04 09:05] Shinyzenith commented on #66
Control c sends sigint which pauses execution.
This behavior can be changed later, for now sudo killall swhkd should be fine.

[2022-03-04 09:05] #66 closed

[2022-03-04 09:06] Shinyzenith commented on #11
I don't think I want to add support for this anymore. It's not particularly useful in my opinion, if you think otherwise then open this issue again.

[2022-03-04 09:14] tsankuanglee opened #67 "modal feature missing?"
**Version Information:**
 - linux 5.16.11-arch1-2
 - swhkd 1.1.0

**Describe the bug:**
sxhkd has the modal feature, e.g. (example from https://github.com/baskerville/sxhkd/blob/master/README.md )
[code]
swhkd doesn't seem to recognize the semicolor `;`. Is this implemented yet?

**Expected behavior:**
Drop in replacement for sxhkd.

**Actual behavior:**
semicolon `;` causes error.

**To Reproduce

[2022-03-04 12:43] EdenQwQ commented on #67
Sorry but we do not support this feature yet.
We'll try to implement this feature after some refactors.
Thanks for your suggestion!

[2022-03-04 13:36] uncomfyhalomacro commented on #67
Pin this issue i guess

[2022-03-04 13:50] #38 closed

[2022-03-04 14:36] sonofviking opened #68 "Keypresses are send to focussed client in sway"
**Version Information:**
Running arch linux, swhkd version 1.1.0 and sway version 1.7

**Describe the bug:**
When doing setup keybinds, e.g. super + p, the 'p' still gets send to the focused client. I have not tested another compositor yet.

**Expected behavior:**
Keybinds are captured by swhkd and only send to client when swhkd has not 'consumed' them

**Actual behavior:**
See above

**To Reprodu

[2022-03-04 14:56] Shinyzenith commented on #68
Hi I merged a patch for this an hour back, can you recompile from main and try again?

[2022-03-04 14:59] Shinyzenith commented on #68
Just for future issues, swhkd is compositor independent. If something is broken in sway then it's broken everywhere, x11 too.

[2022-03-04 15:15] sonofviking commented on #68
First off: thank you for the quick response! Second off it is indeed fixed now that I updated, thank you! And no I hadn't noticed, but I am loving this application! And I am actually thinking about using it in vikingwm :p

[2022-03-04 17:03] Shinyzenith commented on #68
Glad that fixed it :) and thanks for using swhkd!!

[2022-03-04 17:03] #68 closed

[2022-03-06 06:45] EdenQwQ opened #70 "Todo: `@` and `~`"
In sxhkd man page:
[code]

In the `config_devel` branch, we've already implemented checking for those prefixes.
As you can see in the struct `KeyBinding`, there are two bool items `send` and `on_release`.
Calling `.is_send()` or `is_on_release()` method on struct `KeyBinding` or `Hotkey` returns the value respectively.

Need help to actually implement this feature to `daemon.rs`

[2022-03-06 06:49] EdenQwQ commented on #70
@angelofallars @Shinyzenith @vainiovano
Please check `config_devel` branch when convenient

[2022-03-06 06:51] Shinyzenith commented on #70
I'll work on this later today if when I get time :D

[2022-03-06 07:13] Shinyzenith opened #71 "brightness keys are not detected"
**Expected behavior:**
Brightness keys are detected and respond to keybinds.

**Actual behavior:**
Brightness keys are not detected.

**To Reproduce:**
set keybinds with xf86brightnessup

[2022-03-06 07:15] Shinyzenith commented on #71
for this to work we need to read events on video outputs...I don't know how to do that right now.

[2022-03-06 07:23] EdenQwQ commented on #70
I forgot to handle the case where a keysym has both prefixes 🤦

[2022-03-06 10:49] louwers opened #72 "Per-user configuration?"
Why is the config system-wide? This means users can't have their own config?

[2022-03-06 11:00] Shinyzenith commented on #72
1) `-c` flag exists to help you set custom config file paths.
2) we're adding source statements such as `source ~/.config/swhkd/swhkdrc-custom-sway` etc.
3) we currently can't detect $HOME of the invoking user as swhkd is running with pkexec for evdev access so it always falls back to root users XDG_CONFIG_HOME directory.

[2022-03-06 11:48] loiccoyle commented on #71
it works fine for me.
[code]
^Triggers as expected when pressing the brightness adjustment keys on my laptop.

[2022-03-06 11:59] Shinyzenith commented on #71
Huh you're right, it does work. odd.

[2022-03-06 12:01] Shinyzenith opened #73 "Events sent twice to uinput device on SIGHUP"
**Version Information:**
 - Linux ArtixLinux 5.16.12-artix1-1 #1 SMP PREEMPT Wed, 02 Mar 2022 23:22:44 +0000 x86_64 GNU/Linux
 - swhkd 1.1.0

**Describe the bug:**
Events are sent twice on reloading config with SIGHUP

**Expected behavior:**
Only 1 key event should be sent.

**Actual behavior:**
2 Key events are sent.

**To Reproduce:**
run swhkd
send sighup to swhkd

[2022-03-06 12:07] Shinyzenith commented on #71
what compositor are you on?

[2022-03-06 12:18] Shinyzenith commented on #71
Xf86audio keys don't work either

[2022-03-06 12:26] loiccoyle opened #74 "if statements not working"
**Version Information:**
 -  `uname -a` :
 `Linux FrameWork 5.16.12-arch1-1 #1 SMP PREEMPT Wed, 02 Mar 2022 12:22:51 +0000 x86_64 GNU/Linux`
 -  `swhkd -V` :
 `swhkd 1.1.2`

**Describe the bug:**
Commands with if statements don't run.

**Expected behavior:**
Command with if statements to work, like with `sxhkd`.

**Actual behavior:**
Commands don't run.

**To Reproduce:**
[code]
With the above `sw

[2022-03-06 12:36] Shinyzenith commented on #74
Temporarily as a work around maybe you could try putting that in a she script and calling it

[2022-03-06 12:42] Shinyzenith opened #75 "[bug] swallow on removal."
If we set a keybind such as `super + p` to some shell command, start swhkd, remove the command from config file, and then send SIGHUP then swhkd still swallows super + p instead of sending p to focused application.

[2022-03-06 12:43] loiccoyle commented on #71
I tried it on bspwm and river. Both the audio keys and the brightness keys work...

In testing I found, there is a mistake for the `xf86audioplay` key it should be mapped to `Key::KEY_PLAYPAUSE` not `Key::KEY_PLAY`, but aside from that it works fine.

[2022-03-06 12:51] Shinyzenith commented on #71
On my device the brightness controls are emitted by the video outputs..might be hardware specific. I changed it to playpause and it still doesn't work...might also be hardware specific so we probably need to bind to the other event file descriptors too.

[2022-03-06 12:52] Shinyzenith commented on #71
Oops guess I was wrong, play pause works now.

[2022-03-06 12:57] Shinyzenith commented on #16
Closed for now.

[2022-03-06 12:59] loiccoyle opened #76 "keyboard rates on X11 are changed"
**Version Information:**
 -  `uname -a` :
 `Linux FrameWork 5.16.12-arch1-1 #1 SMP PREEMPT Wed, 02 Mar 2022 12:22:51 +0000 x86_64 GNU/Linux`
 -  `swhkd -V` :
 `swhkd 1.1.2`

**Describe the bug:**
When on X11, the keyboard's delay and repeat rates are not respected. They get set to delay: 660 and repeat: 25.

**Expected behavior:**
For the keyboard rates to remain unchanged.

**Actual behavior:**
K

[2022-03-06 13:11] Shinyzenith commented on #76
Hi! thank you for the bug report
can you try the following?
`git clone https://github.com/waycrate/swhkd/`
`cd swhkd`
`git checkout testing_auto_repeat`
`make setup`
`make`
`sudo make install`

and then try to repro again?

[2022-03-06 13:22] loiccoyle commented on #76
No change :(

[2022-03-06 13:29] Shinyzenith commented on #76
@vainiovano I think we need your assistance here 🙏🏽.

[2022-03-06 13:41] dreamcat4 opened #78 "cargo package / crates io?"
**Describe the bug:**

Can see here a `cargo.toml` file in the root folder of this repo / the main project repo. However cannot seem to just `cargo install ...` the software like other rust packages. So is this something planned for the future?

Have tried the following on the cmdline:

[code]
**Additional information:**
Anything else you'd like us to know ?

[2022-03-06 13:44] dreamcat4 commented on #78
ah,

[code]

it didn't compile (there were some compile time errors). But at least it tried to install

[2022-03-06 13:52] Shinyzenith commented on #78
I'm aware that we need to integrate the cargo deployment system. For now instructions are here -> https://github.com/waycrate/swhkd/issues/78

[2022-03-06 14:23] EdenQwQ commented on #72
If you'd like to try the new feature please check the `config_devel` branch where we introduced multiple config loading.

With that patch, you can write something like `use /home/user/.config/swhkd/swhkdrc` in `/etc/swhkd/swhkdrc` so that you don't need to edit with root every time.

[2022-03-06 14:33] #72 closed

[2022-03-06 14:33] louwers commented on #72
Thanks for clarifying.

[2022-03-06 14:44] vainiovano commented on #76
Those are [Xorg's default key repeat settings](https://gitlab.freedesktop.org/xorg/xserver/-/blob/7d2014e7d523e10623203582b9f573303750f087/xkb/xkbAccessX.c#L46). The settings are probably per-keyboard, which is why they change when switching to swhkd's virtual keyboard.

[2022-03-06 14:45] Shinyzenith commented on #76
@vainiovano Is it possible to set it for the uinput device?

[2022-03-06 14:45] Shinyzenith commented on #76
we could call the get autorepeat function and pass it to uinput ?

[2022-03-06 14:54] vainiovano commented on #76
I think that evdev's autorepeat settings are per-fd, so Xorg can't read them, and I think that Xorg implements its own autorepeat itself anyway.

[2022-03-06 15:24] HeavyRain266 commented on #78
I don't see how is it "bug".

[2022-03-06 15:25] Shinyzenith commented on #78
cargo install --git doesn't compile, hence buga

[2022-03-06 15:25] Shinyzenith commented on #78
I added build.rs so cargo install works fine without the need of make, just need to get rid of the compile time errors now.

[2022-03-06 15:30] vainiovano commented on #76
Hmm, from checking Linux' source code (and testing with evtest) it looks like repeat settings are global. I should probably remove setting them in swhkd. Anyway, they don't affect Xorg as it ignores repeat events.

[2022-03-06 15:40] Shinyzenith opened #79 "code: 19 kind: Uncategorized message: "No such device"."
https://bpa.st/KNJA logs.

[2022-03-06 15:41] Shinyzenith commented on #79
@vainiovano @angelofallars @EdenQwQ 💀

[2022-03-06 15:43] louwers commented on #79
Output

[code]

strace output: https://pastebin.com/2DjQRpS2

[2022-03-06 15:44] Shinyzenith commented on #79
Ah it's crashing at the uinput line.

[2022-03-06 15:45] Shinyzenith commented on #79
@louwers can you try to run `lsmod | grep uinput` and see if uinput kernel module is loaded?

[2022-03-06 15:53] louwers commented on #79
No output.

[2022-03-06 15:54] Shinyzenith commented on #79
means the uinput kernel module isn't running. What distro are you on? I'd start with googling how to get it enabled.

[2022-03-06 16:00] louwers commented on #79
Arch Linux. A reboot solved this issue!

[2022-03-06 16:01] Shinyzenith commented on #79
Perfect. Closing this for now, if you have any questions after this then github or discord :D.

[2022-03-06 16:01] #79 closed

[2022-03-06 16:11] Shinyzenith commented on #76
I guess we can try to call xset rate with a shell command after uinput creation?

[2022-03-06 16:11] Shinyzenith commented on #76
if on x environment that is.

[2022-03-06 18:45] Shinyzenith commented on #78
@dreamcat4 you can use the instructions on that page for now ^^^^ they work just fine and if you're on an arch based distro then it's packaged for the AUR too.

[2022-03-07 01:16] uncomfyhalomacro opened #81 "dont let build.rs call an installation script"
This makes it not flexible when doing installations for packaging this software.

[code]

PS: I mentioned in Discord that I talk to my friend and that using Makefile is fine and build.rs is for linking libraries or modifying build behaviour

[2022-03-07 05:19] Shinyzenith commented on #81
I got way too much hate for using makefile ahaha and since I'm new to rust I took their word at face value. Since your mentor is experienced, I'm going to listen to them instead.

Also what was wrong in your last package? Why didn't it build?

[2022-03-07 08:47] uncomfyhalomacro opened #83 "Upstream bug/breaking change shown after removing Cargo.lock"
**Version Information:**
 - Distribution Information: **OpenSUSE TumbleWeed**
   - Linux sentient-slate.bbrouter 5.16.11-1-default #1 SMP PREEMPT Thu Feb 24 05:07:05 UTC 2022 (90630c5) x86_64 x86_64 x86_64 GNU/Linux
 - swhkd version: at commit hash `ed4b266b1000099150ba00e0b552f54a1c86f658`

**Describe the bug:**
As what rust has suggested in https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-car

[2022-03-07 08:50] uncomfyhalomacro commented on #83
Closing because I realized how dumb i was :face_exhaling:

[2022-03-07 08:51] #83 closed

[2022-03-07 10:02] uncomfyhalomacro commented on #78
try `cargo install --locked --git`

[2022-03-07 10:12] dreamcat4 commented on #78
yes that worked, it installed the followin version

[code]

one other question is why it bring up the polkit password prompt "authentication required" during the cargo install. it happens near the beginning, while installing the cargo dependancies

idk why its needed? because i click cancel and it still installs. without requiring a correct password from polkit

[2022-03-07 10:15] dreamcat4 commented on #78
but the reason i dont want the interactive prompt... is because i am using `topgrade` to automatically update all cargo packages. that software update happens in the background. (it is triggered from a cron job).

so it would be nice to know that isnt going to block those background installations by `topgrade` tool. many thanks

[2022-03-07 11:33] angelofallars commented on #74
[code]

I've tried executing the two of these commands in swhkd and the first one works, but the second one doesn't.

However, this one works:
[code]

@loiccoyle Seems like you added an unecessary semicolon after `then` in `swhkdrc` by accident, but didn't include it in `sxhkdrc`. Does the fixed command work now?

[2022-03-07 13:35] Shinyzenith commented on #78
Don't worry about the polkit call, it it just used to move the rules file into the correct directory. Even if it runs once properly, that's fine.

I don't know how to integrate that into cargo install just yet...but it should be gone from build.rs soon.

[2022-03-08 04:08] angelofallars commented on #75
Works fine for me though, on the latest `main` build.

[2022-03-08 08:40] uncomfyhalomacro commented on #81
kek

[2022-03-08 08:40] #81 closed

[2022-03-08 10:38] #74 closed

[2022-03-08 11:52] #78 closed

[2022-03-08 11:52] Shinyzenith commented on #78
https://crates.io/crates/Simple-Wayland-HotKey-Daemon

[2022-03-08 11:53] Shinyzenith commented on #75
I'll test again

[2022-03-08 11:58] Shinyzenith commented on #75
Odd, i can only reproduce with super + p
probably not worth looking into.

[2022-03-08 11:58] #75 closed

[2022-03-08 12:27] EdenQwQ commented on #72
@louwers please note that with the latest `config_devel` branch, we changed the import statement to `import`

[2022-03-10 16:57] Shinyzenith commented on #67
I'm sorry for the inconvenience we plan to implement this as soon as possible just how eden stated. I hope apart from that everything is at par in terms of quality and UX?

[2022-03-11 05:02] tsankuanglee commented on #67
Devs, no need to apologize! `sxhkd` has been such an important component in my workflow so I am very grateful that you made `swhkd` available for everyone!

The modal feature discussed here is an important one, since most WM already supports one-key shortcuts, so this feature makes `sxhkd` unique. After `swhkd` adds this feature, it will definitely be more popular!

I can share some of the feature

[2022-03-13 05:08] Shinyzenith commented on #16
Documentation in readme.md is growing every single day, I think we should switch to scdoc man page rendering.

[2022-03-13 05:12] #60 closed

[2022-03-13 05:12] #70 closed

[2022-03-15 23:27] alajmo opened #88 "Getting Config Unknown symbol at line 1. for caps lock"
**Version Information:**
 - Distribution Information Linux 5.16.0-4-amd64 Debian 5.16.12-1 x86_64 GNU/Linux
 - swhkd version 1.1.7

**Describe the bug:**
I'm unable to bind command for the caps lock key, I've tried the following combinations:

- caps_lock
- Caps_Lock
- capslock
- CAPSLOCK

**Expected behavior:**

I expect it to work as it does for xbindkeys, my config for xbindkeys looks as follow

[2022-03-16 04:14] Shinyzenith commented on #88
Nice find! It seems capslock missed my eye in config.rs

The one you found was for the virtual relay device, this should be a one line fix. I just need to add caps to the keysym enum in config.rs

Will fix this as soon as I get home!

[2022-03-16 04:57] Shinyzenith commented on #88
Hi I have patched this in https://github.com/waycrate/swhkd/commit/87f308f3187cf9cf0da7516e36c4cf3e68b566c4 can you try a recompile?

[2022-03-16 09:29] alajmo commented on #88
Works wonderfully, cheers for the quick fix!

[2022-03-16 09:29] #88 closed

[2022-03-26 01:10] Shinyzenith opened #96 "Add support for xdg_runtime_dir variable and fallback to /run."

[2022-03-26 05:37] Shinyzenith commented on #76
About this issue. @loiccoyle I was thinking of adding a flag to set custom repeat rates, which will just call xset after setting up the uinput device, what do you think?

[2022-03-26 09:35] #96 closed

[2022-03-26 09:42] Shinyzenith commented on #40
This really needs some attention.

[2022-03-26 09:46] Shinyzenith commented on #16
Since the people assigned to this issue haven't made any progress in a month, I am opening this issue for anyone to comment on and possible send a PR.

[2022-03-26 22:19] ryspace commented on #16
This sounds like something that seems like it would certainly be within my capabilities.

Question about scdoc: Is that something that's run during the build process or something? For instance, I see within the sway source, there are `.scd` files but no `.roff` files that scdoc would output.

[2022-03-26 22:32] Shinyzenith commented on #16
Yes scdoc binary that's called at compile time.

[2022-03-26 22:33] Shinyzenith commented on #16
https://git.sr.ht/~sircmpwn/scdoc

[2022-03-26 22:43] ryspace commented on #16
I'll take a shot at this either tonight or tomorrow :+1:

[2022-03-28 11:26] loiccoyle commented on #76
I think that would be a reasonable work-around. Ideally, the user shouldn't have to worry about this at all though, imo.

[2022-03-28 13:45] xircon opened #101 "Chords do not work"
**Version Information:**
 - Distribution Information ( run `uname -a` )
 Linux xircon-w6567sz 5.16.16-zen1-1-zen #1 ZEN SMP PREEMPT Mon, 21 Mar 2022 22:59:42 +0000 x86_64 GNU/Linux
 - swhkd version ( `swhkd -V` )
 swhkd 1.1.7

**Describe the bug:**
Chords not working
[code]
[code]

**Expected behavior:**
Should work as it does in sxhkd.

**Actual behavior:**
See error swhkd does not load.

[2022-03-28 23:41] Shinyzenith commented on #76
You are absolutely correct, I just don't have enough knowledge about the X11 protocol so I don't know how to do that automatically.
If you know any viable solutions then lmk!

[2022-03-28 23:42] Shinyzenith commented on #101
This is a known bug, we have implemented chords in the config but daemon doesn't support it yet.
Eden, who is working on it is currently sick so it'll be implemented as soon as they're back!

[2022-04-02 20:15] xircon opened #103 "Hyper key not working"
**Version Information:**
Linux xircon-legion 5.17.1-zen1-1-zen #1 ZEN SMP PREEMPT Mon, 28 Mar 2022 21:56:46 +0000 x86_64 GNU/Linux

 swhkd 1.1.7

**Describe the bug:**
Cannot set hyper as a modifier.

**Expected behavior:**
Have redefined caps to be a hyper modifier, works in sxhkd.

**Actual behavior:**
Causes swhkd to not load.

**To Reproduce:**
add a shorcut e.g. hyper+d

**Additional informat

[2022-04-03 00:50] Shinyzenith commented on #103
Hi, thank you for the verbose report. Would you mind expanding on what the hyper key is? I'm not particularly familiar with that.

[2022-04-03 11:29] xircon commented on #103
It is an additional modifier, so I now have Super, Alt, Control and Hyper.  You can use xmodmap to do this on x11, but on wayland I used this:

https://ibnishak.github.io/blog/post/caps-to-hyper/

So it sxhkd you can use:
[code]
Press and hold caps lock - press d.

I can define hyper in my sway config and it works:
[code]
All of which function as expected.

For a full history of additional modifie

[2022-04-07 12:59] HeavyRain266 opened #107 "Rename swhks to swhkd and current swhkd to swhkc"
The name `swhks` cause confusion and looks like typo. In `sxhkd` daemon is called `sxhkd` and IPC is called `sxhkc` and I think we should follow this naming convention to stop general confusion especially for people which are coming from `sxhkd`.

[2022-04-07 13:12] Shinyzenith commented on #107
Nothing under the name of sxhkc exists in the sxhkd repo.

[2022-04-07 13:13] Shinyzenith commented on #103
OK I will get someone to look into this. I currently can't work on it due to my deteriorating health.

[2022-04-07 13:54] HeavyRain266 commented on #107
Sorry, I'd just missed it with sxhkdrc, now after reading my config, it has single binary...

[2022-04-07 19:51] xircon commented on #103
No problems, I completely understand, I am an old crip, easier and quicker to list what isn't wrong with me :rofl:

[2022-04-09 07:28] actualdankcoder commented on #107
you could just rename swhks to whks, that would solve a lot of confusion

[2022-04-09 07:30] Shinyzenith commented on #107
I will consider it :pepehmmm:

[2022-04-10 14:24] Shinyzenith opened #109 "[feat] Add mouse button support via evdev."
This is not a high priority task at the moment.

[2022-04-17 18:35] Shinyzenith opened #110 "[feat] switch to /run/swhkd from /etc/runtime"

[2022-04-23 07:51] #110 closed

[2022-05-01 09:06] #107 closed

[2022-05-05 06:36] wizard-28 opened #112 "Permission error"
**Version Information:**
 - Distribution Information: `Linux pop-os 5.4.0-7634-generic #38~1592497129~20.04~9a1ea2e-Ubuntu SMP Fri Jun 19 22:43:37 UTC  x86_64 x86_64 x86_64 GNU/Linux`
 - swhkd version: `swhkd 1.1.7`

**Describe the bug:**

Running:

[code]

Gives me this error:

[code]

**Expected behavior:**

It works

**To Reproduce:**

1. Download the release `libc` variant.
2. Move the binarie

[2022-05-05 07:24] Shinyzenith commented on #112
Lots of changes have been made to fix the cves since the last release. I would suggest you to compile from main branch instead of downloading the binary.

[2022-05-06 23:57] jumps-are-op opened #114 "Scroll_Lock key is not supported"
**Version Information:**
Linux logic 5.17.5-arch1-1 #1 SMP PREEMPT Wed, 27 Apr 2022 20:56:11 +0000 x86_64 GNU/Linux
swhkd 1.1.7

**Describe the bug:**
Scroll_Lock key is not supported

**Expected behavior:**
swhkd do somthing when Scroll_Lock key is pressed

**Actual behavior:**
swhkd output
[code]
then exit

**To Reproduce:**
add Scroll_Lock key to your config

[2022-05-07 02:58] Shinyzenith commented on #114
Easy fix, will do it when I get home.

[2022-05-07 02:59] Shinyzenith opened #115 "[Performance boost] singleton socket connection"
Recreate connection if by any chance singleton expires

[2022-05-07 06:48] dein0s opened #116 "XF86AudioMicMute is not supported"
**Version Information:**
 - Distribution Information ( run `uname -a` ): `Linux think-fedora 5.17.5-300.fc36.x86_64 #1 SMP PREEMPT Thu Apr 28 15:51:30 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
 - swhkd version ( `swhkd -V` ): `1.1.7`

**Describe the bug:**
XF86AudioMicMute is not supported

**Expected behavior:**
Key is supported and related action is triggered on keypress.

**Actual behavior:**
Ke

[2022-05-07 07:32] Shinyzenith commented on #116
![Screenshot_20220507-130112_DuckDuckGo](https://user-images.githubusercontent.com/60808802/167243948-3caed793-902e-4db9-b8d7-45268d3676c4.jpg)
Will bind it when I get home

[2022-05-07 07:50] dein0s opened #117 "[feat] Add support for environment variables"
Please, add a possibility to use env vars in config/daemon, similar to sxhkd.
Example use case:
[code]

[2022-05-07 08:06] Shinyzenith commented on #117
This reminds me that we have an Alias patch. Such as: alias terminal=alacritty

And note for whoever implements this: regex such as \$\w* should detect these

[2022-05-07 12:05] Shinyzenith opened #119 "[refactor] Clean up privilege escalation process."
Use root to bind to device fd's and then immediately call setresuid() and setresgid() from libc. Only then proceed to read config files etc etc.

This should fix [CVE-2022-27814](https://nvd.nist.gov/vuln/detail/CVE-2022-27814).

[2022-05-07 12:07] Shinyzenith commented on #112
@wizard-28 Hi, any updates?

[2022-05-07 12:12] wizard-28 commented on #112
Don't have the system resources to compile it at the moment. Will compile it on my server and send the binary to my laptop tomorrow and check.

[2022-05-07 13:34] Shinyzenith commented on #112
[bin.zip](https://github.com/waycrate/swhkd/files/8645250/bin.zip)

[2022-05-08 00:41] jumps-are-op opened #120 "Duplicate lines"
2 lines are duplicate in daemon.rs at 173
Is this because some function wont work until you duplicate the first 2 items, or its just a typo?
![image](https://user-images.githubusercontent.com/91761043/167276746-c29c7ab4-8bd1-4bca-bb42-bd2fc0c0d0dd.png)

[2022-05-08 05:31] Shinyzenith commented on #120
Just a mistake, will remove when on pc

[2022-05-08 06:04] wizard-28 commented on #112
Works! Thanks!

[2022-05-08 06:04] #112 closed

[2022-05-09 07:49] #120 closed

[2022-05-09 07:59] #114 closed

[2022-05-09 07:59] #116 closed

[2022-05-11 09:50] #119 closed

[2022-05-14 14:39] angelofallars opened #123 "Use ~/.config/swhkd/swhkd as first default config path"
We can get the invoking user's name from the `PKEXEC_UID` like this:

[code]

From there, we can then read the user's home directory with the user's name.

[2022-05-14 15:05] Shinyzenith commented on #123
Not reliable, what if XDG_CONFIG_HOME env var is set? what if users home folder does not have the same name as the username?

[2022-05-14 15:06] Shinyzenith commented on #123
Closed by mistake.

[2022-05-22 20:29] jumps-are-op opened #125 "`any +` should be ignored when parsing config file"
**Version Information:**
 - Distribution Information `Linux logic 5.17.8-arch1-1 #1 SMP PREEMPT Mon, 16 May 2022 20:45:27 +0000 x86_64 GNU/Linux`
 -  swhkd version `swhkd 1.2.0`

**Describe the bug:**
in sxhkd you can do
[code]
and it gonna be treated as
[code]
but swhkd doesn't do that

**Expected behavior:**
swhkd to ignore `any +` when parsing config file and to treat `any + F9` as `F9`

**Actu

[2022-05-23 09:11] Shinyzenith commented on #125
Any modifier has not been implemented yet.. will consider binding it soon.

[2022-05-23 09:19] Shinyzenith commented on #125
Feel free to open a PR. I cannot and will not expect someone here to bind them all for others. We bound what we needed and bind extra modifiers as and when requests come in. Initially we wanted to support it all but we all have lives outside of github so the interest died down.

[2022-05-23 20:34] dithpri opened #126 "XF86Display key unsupported"
**Version Information:**
 - `Linux laptop 5.17.8-arch1-1 #1 SMP PREEMPT Mon, 16 May 2022 20:45:27 +0000 x86_64 GNU/Linux`
 - `swhkd 1.2.0`

**Describe the bug:**
XF86Display key is not unsupported

**Expected behavior:**
XF86Display key is unsupported

**Actual behavior:**
[code]
Lines 91-92:
[code]

**To Reproduce:**
Use `XF86Display` key in config.

**Additional information:**

[2022-05-23 20:42] Shinyzenith commented on #126
Thank you for your interest in the project, I will look into the following keys and implement them tomorrow.

[2022-05-24 03:51] Shinyzenith commented on #126
![image](https://user-images.githubusercontent.com/60808802/169945186-9e9c2a09-8558-44e2-952a-ac00c30b0b89.png)
Hi are you talking about this key? I see quite a few under display and I don't know what function the key serves.

[2022-05-24 03:52] Shinyzenith commented on #126
https://docs.rs/evdev/latest/src/evdev/scancodes.rs.html
Found nothing under the name launch, maybe it's under some other name? if you can find it above I can bind it.
If it's not in that list, I can't bind that key.

[2022-05-24 16:22] dithpri commented on #126
From what evtest tells me, key for XF86Launch1 is `KEY_PROG1`, and XF86Display is `KEY_SWITCHVIDEOMODE` though I can't use them by default on my Thinkpad with swhkd because of this check:
https://github.com/waycrate/swhkd/blob/04e51255a4ef73151eac752c8c10dd51f1f30639/src/daemon.rs#L345

Both keys are in a separate device to the keyboard which does not contain an enter key:
<details>

[code]

</det

[2022-05-24 16:49] Shinyzenith commented on #126
That is because we use that function to get valid keyboard and then call kernel grab syscall, so when you hardcoded true, it grabbed your mouse too.

Understood. Do you have any ideas for better keyboard checking? Checking for key_enter is definitely not ideal.

[2022-05-24 20:26] dithpri commented on #126
Maybe detecting if something is not a keyboard? (Detecting if it's a mouse or joystick, etc.)

The only other type of detection I can think of is checking if it supports any possibly grabbable keys.

[2022-05-24 20:29] Shinyzenith commented on #126
Doesn't sound robust due to a couple reasons:
1. We would need to hard code multiple device states.
2. A lot of input devices share common characteristics such as ubttons.
3. Evdev also handles output devices so we would need to write cases for them too.

[2022-05-24 20:30] Shinyzenith commented on #126
Afaik, key's aren't grab-able, output/input devices are.

[2022-05-31 18:18] Shinyzenith commented on #16
This needs some attention

[2022-05-31 18:33] #123 closed

[2022-06-02 11:51] EdenQwQ opened #128 "tests: create memory backed file in ram to do the file tests"
This can be done with fnctl, memfd_create or other libc syscalls

[2022-06-09 10:57] frieser opened #129 "Configuration rules with a modifier + MEDIA_KEY not working"
**Version Information:**
Linux fedora 5.17.12-300.fc36.x86_64 #1 SMP PREEMPT Mon May 30 16:56:53 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

swhkd 1.2.0

**Describe the bug:**
Rules with a combination of a modifier(ctrl,super,shift) with media keys are not working. Rules with only the media keys are working.

**Expected behavior:**
Rules running as expected

**Actual behavior:**
Nothing happens.

**T

[2022-06-10 02:47] Shinyzenith commented on #129
Hi thanks for the report. @angelofallars would you mind taking a look? This seems to be a parser issue.

[2022-06-11 23:38] EdenQwQ commented on #67
@tsankuanglee would you mind trying out the [new branch](https://github.com/waycrate/swhkd/tree/keymodes_devel) where we implemented a new feature called `modes`, which is supposed to work similar to `chords` but with a greater readability and functionality.

The basic syntax of key modes:
[code]

[2022-06-12 20:43] tsankuanglee commented on #67
I won't be able to test this until much later in the month. However, some initial thoughts:

I like the explicit mode design. It does make things much more clear. There are some implications though:

1. It seems this will break the original design goal of "drop-in replacement for sxhkd" (unless you are thinking about a config file pre-processor). I myself have no problem that the two are different

[2022-06-12 23:31] EdenQwQ commented on #67
Thanks for your prompt reaction
1. We do different from sxhkd from many aspects now. We'd like to implement more features that sxhkd doesn't have to satisfy more use cases. And we're working on documents to mention the incompatibility.
2. We actually choose to use the mode syntax because it's easier to implement and it's clearer in logic for me.
3. You can use `@enter` anywhere to push a mode into

[2022-06-13 04:47] Shinyzenith commented on #129
@angelofallars @EdenQwQ

[2022-06-13 04:53] Shinyzenith commented on #67
I understand that our implementation is not at all like the original but it's probably for the best because Edens implementation is clear and readable. It's alright to differ as long as it works.

[2022-06-13 21:29] EdenQwQ commented on #129
@frieser
In my tests, super+mediakey works but Ctrl/shift+mediakey doesn't work.
I assume it to be more like an evdev issue.
I guess that's because ctrl/shift/alt would turn a media key into a Fn key on some keyboards and evdev would receive the modifier and the fn key the same time.

For example, on my keyboard the `volumelower` key is at the same time `f5`.
If I write `shift + volumelower ` or `

[2022-06-13 23:48] EdenQwQ commented on #125
@jumps-are-op Please check [pr#130](https://github.com/waycrate/swhkd/pull/130)

[2022-06-14 10:11] yarikus opened #131 "Mouse cursor doesn't work"
**Version Information:**
 - Linux yarikus-pc 5.18.3-arch1-1 #1 SMP PREEMPT_DYNAMIC Thu, 09 Jun 2022 16:14:10 +0000 x86_64 GNU/Linux
 - swhkd 1.2.0

**Describe the bug:**
A mouse cursor doesn't work after start daemon.

**Expected behavior:**
I can use my mouse cursor as before.

**Actual behavior:**
A mouse cursor doesn't response.

**To Reproduce:**
`swhks & pkexec swhkd`

**Additional informatio

[2022-06-14 10:24] EdenQwQ commented on #131
Please run `swhks && pkexec swhkd -d` and post the log message concerning device detection here

[2022-06-14 10:27] EdenQwQ commented on #101
@xircon  would you mind trying out the [new branch](https://github.com/waycrate/swhkd/tree/keymodes_devel) where we implemented a new feature called `modes`, which is supposed to work similar to `chords` but with a greater readability and functionality.

The basic syntax of key modes:
[code]

[2022-06-14 14:51] frieser commented on #129
Hi, thanks for reply.

My keyboard is a gamakay lk67, it has the media keys to control the volume with a knob, so is a separate key with no fallback to fnkey, I guess.

I was debugging with some tooling ([wev](https://git.sr.ht/~sircmpwn/wev)), theorically this tool capure evdev events in wayland and the capture seems ok to me, but I not an expert of evdev or input. Maybe it helps:

[code]

It see

[2022-06-14 19:03] xircon commented on #101
Seems to work OK, need to get my head around it, will have some questions :smile:
First one:
+ @enter music && echo music > .swhkd_mode
    This is set, but never unset?  The file always contains music.

[2022-06-14 23:01] EdenQwQ commented on #101
Thanks for your tests

 - that .swhkd_mode is for something like waybar integration and I forgot to write `echo normal > .swhkd_mode` after the `@escape`
 - Will check out the key issue later

[2022-06-15 00:25] Shinyzenith commented on #129
Hi, afaik wev reports xkbcommon events re-emitted by the compositor.
In this case, `sudo libinput debug-events` would give the correct logs as it re-emits evdev events if I'm not mistaken.

[2022-06-15 03:46] Shinyzenith opened #133 "Update repo structure."
Utilize cargo workspaces and design a monorepo to split swhks and swhkd into two different projects.

[2022-06-15 04:52] Shinyzenith commented on #101
Hi kpsubtract and kpplusminus exists, can you try binding them?

[2022-06-15 05:40] #16 closed

[2022-06-15 05:40] #133 closed

[2022-06-15 09:39] frieser commented on #129
great, maybe this helps:

[code]

thanks for the support.

[2022-06-15 18:40] xircon commented on #101
@Shinyzenith - kpminus works for the "-" key (numeric keypad), kpplusminus does nothing as do all combinations I invented :smile:

[2022-06-24 19:09] Shinyzenith opened #137 "[feat] --add-device --ignore-device"
Mutate keyboard list at runtime.

The current --device argument should change to --add-device to append to the list
and --ignore-device for the vice versa

[2022-06-24 19:10] #67 closed

[2022-06-24 19:10] #101 closed

[2022-06-24 19:10] #125 closed

[2022-06-25 03:53] Shinyzenith commented on #131
Hi you can try the --device argument introduced in https://github.com/waycrate/swhkd/pull/135  to specify which devices to use

this way your mouse is excluded from the grab!

[2022-06-25 03:54] Shinyzenith commented on #101
Chords should work now, if you face any issue then please make a new ticket 😁.

[2022-06-25 03:56] Shinyzenith commented on #67
As of https://github.com/waycrate/swhkd/pull/135 modal features are available. `man 5 swhkd` should help.

[2022-07-12 14:36] ivandimitrov8080 opened #142 "libinput bug: Event for missing capability CAP_POINTER on device "swhkd virtual output""
**Version Information:**

- Distribution Information: Linux artix 5.18.10-artix1-1 #1 SMP PREEMPT_DYNAMIC Fri, 08 Jul 2022 07:26:22 +0000 x86_64 GNU/Linux
- swhkd version: swhkd 1.1.7

**Describe the bug:**
Getting this log when I run `sudo libinput debug-events` and click my `Logitech G502 Lightspeed` in wireless mode. The mouse doesn't work at all (except for this click error) when wireless and

[2022-07-12 14:53] Shinyzenith commented on #142
Hi, currently we simply check if a device has enter key and grab the
device.

This was initially reported in [this issue.](https://github.com/waycrate/swhkd/issues/126)
I believe you're experiencing the same problem as them.

We currently don't have a reliable keyboard detection algorithm in place
but I'm willing to accept one if you send a patch.

The current workaround is to simply use the `--de

[2022-07-16 12:14] danielphan2003 opened #144 "separate swhkd and swhks systemd service"
I have a working example here:
- swhkd.service:
[code]

- swhks.service
[code]

- swhkd-start.sh:
[code]

- swhks-start.sh:
[code]

This approach has `KillMode=process`, which depending on your concerns might be a bit out of control. After all, [systemd.kill(5)](https://www.freedesktop.org/software/systemd/man/systemd.kill.html) don't recommend setting kill mode to only the process itself, as the

[2022-07-16 12:25] Shinyzenith commented on #144
- I totally agree that a tool like swhkd should be 100% init system independent.
- Do you think we should create a cgroup right on startup of swhks and then fork into it?
- I'm not too familiar with cgroup syscalls so if you think you can expand on this by patching it into swhks, I'd be more than happy to merge it.

[2022-07-16 12:33] danielphan2003 commented on #144
Note that I also haven't really figure out how to terminate shkwd via systemd. Granted, you can reload, pause loading or continue loading config file with HUP or USR signals, but systemd sending SIGTERM just won't do it. Probably because swhkd is running with pkexec.

[2022-07-16 12:54] danielphan2003 commented on #144
I think so, though I'm also not familiar with cgroup syscalls. Let's just hope something else come up while I'm getting used to the syscalls.

[2022-07-20 16:52] rv178 opened #145 "The LED indicators for keys capslock and numlock fail to toggle."
**Version Information:**

- Distribution Information ( run `uname -a` )
Linux archbox 5.18.12-arch1-1 #1 SMP PREEMPT_DYNAMIC Fri, 15 Jul 2022 15:33:02 +0000 x86_64 GNU/Linux

- swhkd version ( `swhkd -V` )
1.2.0

**Describe the bug:**
The LED indicators for capslock and numlock fail to toggle.

**Expected behavior:**
When capslock or numlock is toggled, the LED should also toggle depending on the

[2022-07-20 16:56] Shinyzenith commented on #145
Too minor

[2022-07-20 16:56] #145 closed

[2022-07-21 05:24] actualdankcoder commented on #145
i believe this issue should be reopened due to its severity

[2022-07-21 05:55] actualdankcoder commented on #145
If not handled properly, this could lead to intercontinental ballistic missiles(ICBM) being fired towards Eastern Africa, we are putting the lives of almost a million Djibouti civilians at stake by ignoring this issue

[2022-07-21 07:46] Shinyzenith commented on #145
...

[2022-07-22 06:45] actualdankcoder opened #146 "MiDi Support?"
**Version Information:**
latest

- Distribution Information ( run `uname -a` )
5.18.9-arch1-1
- swhkd version ( `swhkd -V` )
latest

Will swhkd add support for MiDi input? I often use a midi controller for launching scripts/desktop apps so it would be great if swhkd could support it

[2022-07-22 06:47] Shinyzenith commented on #146
I think this is a reasonable request. I don't have a midi device on me at the moment so I can't test any patches but I'll try to get something going.

[2022-07-22 06:49] actualdankcoder commented on #146
There are [portmidi bindings](https://github.com/musitdev/portmidi-rs) for rust so i believe it could be achievable

[2022-07-22 10:39] Shinyzenith commented on #146
I personally think it'd be better to achieve this over evdev. Would you mind running libinput debug call and show me the key events of your midi device ?

[2022-07-22 12:33] actualdankcoder commented on #146
would you explain the process of how do i do that

[2022-07-29 23:14] Shinyzenith opened #148 "Build.rs doesn't seem to be executing properly.."
I've deployed a temporary fix in the pkgbuild with rustc as it's very late right now

I will try to figure this out later.

[2022-07-30 11:44] #148 closed

[2022-08-14 19:30] TTWNO opened #149 "[Feature Request] Alow actions on on modifiers without a keysym"
Hi there,

I work on the [Odilia screen reader](https://github.com/odilia-app/odilia) project and I'd like to be able to make some slight modifications to be able to ship this with our project.

Is there any possibility that keysym could be optional for Keybindings? As in: `Option<evdev::Key>`

It is important to us that we may be able to stop caps lock (the "screen reader key") from passing throu

[2022-08-15 00:41] Shinyzenith commented on #149
Hi!
I think we already implemented this.
[code]
If I interpreted the question incorrectly then please do let me know 😁.
If not, I'm always open the patches and I'm also willing to collaborate on the patches.

[2022-08-16 04:52] Shinyzenith commented on #11
I've implemented this, opening pr in just a minute

[2022-08-17 07:51] #11 closed

[2022-08-19 02:10] simonwiles commented on #103
I was experimenting with migrating from `sxhkd`, but this is a show-stopper for me.  With my existing `sxhkd` config:

[code]

I get:
[code]

99% of what I use `sxhkd` for is mapping commands to <kbd>hyper</kbd> combinations, fwiw.

[2022-08-23 11:48] Shinyzenith commented on #103
patches are always welcome

[2022-08-31 18:48] ZachIndigo opened #153 "OpenRC Service Not Working"
The provided OpenRC service does not work, as a) swhkd requires being run with pkexec, which is not in the service, and b) running `pkexec swhkd` in the service causes it not to be able to run in the background.

[2022-08-31 18:57] Shinyzenith commented on #153
Hi, the contrib folder doesn't have official support. The contrib folder is specifically for community made scripts 😄 if you can create a pr for the fix, that would be appreciated!

[2022-09-01 22:17] oberblastmeister opened #154 "Relying on PKEXEC_UID might not be correct?"
If swhkd is started in a systemd service `PKEXEC_UID` won't be correct. How will `swhkd` then communicate with the user process?

[2022-09-01 22:22] Shinyzenith commented on #154
I believe you can run processes as the desired user with systemd if I'm not mistaken?

But either way I generally agree with your stance, privilege escalation with PKEXEC has caused a lot of minor issues here and there. Once again, if you would like to send patches for a better privilege escalation model, I'd be more than happy to collaborate and merge the patch.

[2022-09-01 22:26] oberblastmeister commented on #154
Then you would have to specify a password every time you startup? You would want to run `swhks` as the desired user but `swhkd` system-wide?

[2022-09-01 22:27] Shinyzenith commented on #154
Apologies, I should've mentioned that I use runit and I have no knowledge of systemd at the moment.

[2022-09-01 22:38] oberblastmeister commented on #154
The premise should be the same though. If you run `swhkd` as a user process (in systemd, runit, etc), you have to type in your password for `pkexec` everytime you startup, right?

[2022-09-01 22:40] Shinyzenith commented on #154
This is incorrect! we package a pkexec policy file so that you don't need to enter the password!

[2022-09-01 23:13] oberblastmeister commented on #154
I doesn't seem to be working for me. `pkexec swhkd` as a normal user asks for my password every time.

[2022-09-01 23:42] oberblastmeister commented on #154
@Shinyzenith I got it to work! You have to give `pkexec` the full path. `pkexec /usr/bin/swhkd` works. Is this supposed to happen? The readme says to just run `pkexec swhkd`.

[2022-09-02 08:06] ajanon opened #155 "Sending SIGHUP twice to `swhkd` crashes with `Failed to set init groups: EPERM`"
**Version Information:**

- Linux arch-dktp-alexis 5.19.5-arch1-1 #1 SMP PREEMPT_DYNAMIC Mon, 29 Aug 2022 15:51:05 +0000 x86_64 GNU/Linux
- swhkd 1.2.1 (installed from the `swhkd-git` AUR package)

**Describe the bug:**
Sending SIGHUP twice in a row crashes `swhkd`. It then outputs: `Failed to set init groups: EPERM`

**Expected behavior:**
Sending SIGHUP twice (i.e., reloading `swhkd`'s config) s

[2022-09-02 08:08] Shinyzenith commented on #154
Hmm odd, on my system it works fine...I wonder why just swhkd didn't work.

Can you run `which swhkd`m

[2022-09-02 08:11] Shinyzenith commented on #155
Hi, thank you so much for putting in the effort. This bug has been known for a while now ever since we developed the drop_priv function to patch a CVE.

I haven't gotten around to patching this yet but contributions are welcome! If you'd like more info on what's going wrong here, I'm more than happy to explain!

[2022-09-02 09:12] ajanon commented on #155
Thank you for your quick answer!

I have taken a look at it, and I think I understand what is happening: the first SIGHUP drops privileges, but `swhkd` never raises them again afterwards.
From my understanding and my testing, raising back privileges right after reading the config file is enough to fix the issue:

[code]

From: https://github.com/waycrate/swhkd/blob/d21e613d83a6049f3856a50d5f8eff8b

[2022-09-02 09:36] Shinyzenith commented on #155
Awesome! Please go ahead and send a PR!
I didn't think this approach would work after dropping our privileges but oh well!

Here's the CVE if you're interested: https://www.cvedetails.com/cve/CVE-2022-27814/

[2022-09-02 13:04] oberblastmeister commented on #154
`/sbin/swhkd`

[2022-09-02 14:21] Shinyzenith commented on #154
Ah that's the reason, the policy file is only for /usr/bin/swhkd

[2022-09-02 14:21] Shinyzenith commented on #154
Probably best to remove it from skin, closing

[2022-09-02 15:10] oberblastmeister commented on #154
I don't think that is the solution. My `/sbin` seems to be symlinked to `/usr/bin` or something. Removing something from `/sbin` removes it from `/usr/bin`.

[2022-09-02 15:11] Shinyzenith commented on #154
That's not how symlinks work ❤️. You can however bump up the precedence of /usr/bin but that might break stuff. Easiest is to either:
- Edit the pkexec file to accept /sbin
- Or remove the sbin symlink

[2022-09-02 15:14] oberblastmeister commented on #154
What do you mean? From the arch linux faq

[2022-09-02 15:19] Shinyzenith commented on #154
yes but removing a binary from sbin shouldn't cause catastrophe, that was what I was aiming for haha

[2022-09-02 15:20] Shinyzenith commented on #154
Anywho, I think your best bet is to run the following:
`sudoedit /usr/share/polkit-1/actions/com.github.swhkd.pkexec.policy`
and edit the usr/bin/swhkd into  /sbin/swhkd

[2022-09-02 15:21] oberblastmeister commented on #154
What do you mean by "cause catastrophe"?

[2022-09-02 15:26] Shinyzenith commented on #154
Deleting soft/hard link files don't remove the source if I'm not mistaken. ( note: had a coworker check haha )

[2022-09-02 15:33] oberblastmeister commented on #154
I'm pretty sure the directory `/sbin` *itself* is linked to `/usr/bin`, not `/sbin/swhkd` linking to `/usr/bin/swhkd`. Then, deleting something from `/sbin` should delete something from `/usr/bin`

[2022-09-02 15:36] Shinyzenith commented on #154
okay got it, in that case editing the policy file is probably the best

[2022-09-06 08:17] ajanon opened #157 "Default `swhks` log path creates literal `~` directory"
**Version Information:**

- Distribution Information: Linux arch-dktp-alexis 5.19.6-arch1-1 #1 SMP PREEMPT_DYNAMIC Wed, 31 Aug 2022 22:09:40 +0000 x86_64 GNU/Linux
- swhkd 1.2.1 (installed from the `swhkd-git` AUR package)

**Describe the bug:**
When `XDG_DATA_HOME` is not set, `swhks` creates a directory named with a literal `~` to store its logs.

**Expected behavior:**
`swhks` should translate

[2022-09-09 01:30] #154 closed

[2022-09-09 10:03] epetousis opened #159 "Key release events seem to be shadowed if a corresponding key press event is defined"
**Version Information:**

- Distribution Information ( run `uname -a` ) Linux 5.15.61 #1-NixOS SMP Wed Aug 17 12:24:32 UTC 2022 x86_64 GNU/Linux
- swhkd version ( `swhkd -V` ) swhkd 1.2.1

**Describe the bug:**
I'm trying to set up a simple config for a push-to-talk-style binding. I want to run a command when I press a button, and a command when I release that same button. swhks appears to only be

[2022-09-09 15:32] #157 closed

[2022-09-11 04:25] epetousis commented on #159
It actually looks like the issue is in swhkd, my bad. After running in debug mode, key release events don't seem to get sent to swhks if there's a corresponding key press definition in your swhkdrc.

[2022-09-11 04:52] epetousis commented on #159
This is actually an issue in swhkd *not* swkhs, my bad. Looks like the hotkey handler loop exits too early. If I change [line 352 in swhkd/daemon.rs](https://github.com/waycrate/swhkd/blob/6ea06e0c0067cd0adf087d96bb207e1d88d833b7/swhkd/src/daemon.rs#L352) to be `continue;` rather than `break;`, my release key starts working as expected.

[2022-09-11 05:46] Shinyzenith commented on #159
Perfect! Feel free to send a pr ❤️

[2022-09-11 16:49] #159 closed

[2022-09-14 09:21] ajanon opened #162 "`swhkd` does not process hotkeys of newly connected devices"
**Version Information:**

- Linux arch-dktp-alexis 5.19.6-arch1-1 #1 SMP PREEMPT_DYNAMIC Wed, 31 Aug 2022 22:09:40 +0000 x86_64 GNU/Linux
- swhkd 1.2.1 (installed from the `swhkd-git` AUR package)

**Describe the bug:**
`swhkd` does not register hotkeys from a newly connected keyboard (or disconnected then reconnected).

**Expected behavior:**
`swhkd` should be able to register hotkeys on a newly

[2022-09-14 09:28] ajanon commented on #162
# MWE for each implementation
Each exemple prints events from the 'input' subsystem as they are received. Each log is prefixed by a basic timestamp to highlight the difference between the actual physical event and the time it is passed to the application.

## Busy loop
[code]

On my computer, when disconnecting and reconnecting my keyboard, this gives:

[1663146489] 'Remove' event - devnode: None

[2022-09-14 09:30] ajanon commented on #162
I looked into solving my issue with `udev`, but if anyone has any other idea, I can also take a shot at it !

[2022-09-15 13:11] ajanon commented on #109
The base implementation seems easy enough, just add the key name to the `key_to_evdev_key` map in the config parser (`swhkd/src/config.rs`), e.g., for the left mouse button:
[code]

Then, in the config:
[code]
Clicking with the left mouse will then open a new `alacritty` instance. This works right away when `swhkd` listens to the mouse device (with `--device` if needed).

It could be even better i

[2022-09-15 14:17] ajanon commented on #103
What is the difference between
[code]
and
[code]
in your case? If I understand correctly, this is exactly what you want: map the caps lock _physical key_ to a command (which is what it means for `swhkd`).

`swhkd` reads input at a lower level than X11 libraries, so your custom rebind (with `xmodmap`, `setxbkmap` or any other) should not impact it in any way. (please correct me if I am wrong @angel

[2022-09-15 15:24] xircon commented on #103
Yup, caps lock is not a "modifier" I get exactly the same.  You can however use the hyper modifier in sway, so that is the route I took.

[2022-09-16 08:07] Shinyzenith commented on #103
@ajanon You are correct!

[2022-09-16 08:10] Shinyzenith commented on #109
If I'm not mistaken, the mouse events are triggered by file descriptors of the physical mouse devices, since we create a virtual output and re-emit the signals, it's crucial that we re-emit the mouse signals too.
I have tried the above concept in the following pull request: https://github.com/waycrate/swhkd/pull/147

I don't completely understand how you got it to work without capturing mouse inpu

[2022-09-16 08:14] Shinyzenith commented on #162
Wow! Impressive bug report and you have my respect for putting in the time to not only investigate the issue but also to propose possible changes ❤️.
The implementations look interesting, I'm not too familiar with udev but I just had one question, can udev detect the type of device that we're dealing with? this can help another bug where mice are picked up as keyboards sometimes.

[2022-09-16 08:14] Shinyzenith commented on #162
Apart from that, this looks good, I'll review it in depth once I'm done with relocating!

[2022-09-19 03:37] Shinyzenith commented on #162
I did some digging and found out that we don't need to create a new `MonitorSocket` from `MonitorBuilder::new()?....listen()`. We can create this builder once globally and then just poll the socket. Although this too is inefficient, it's...not as bad 🤣.

[2022-09-19 09:56] ajanon commented on #162
Maybe?

Take a look at https://wiki.ubuntu.com/X/InputConfiguration#Device_classification: `udev` classifies devices when detected. With some basic testing on my side, it seems that my keyboard is indeed detected as `ID_INPUT_KEYBOARD` and my mouse as `ID_INPUT_MOUSE`... and also `ID_INPUT_KEYOARD`. My mouse is connected through a Logitech receiver which works for both their mice and keyboards, so

[2022-09-19 09:58] ajanon commented on #162
Is it that bad? Isn't the socket only created once anyway? What does it change to create first the builder?

[2022-09-19 10:06] Shinyzenith commented on #162
It's probably not too different but why perform extra computation when we can just poll the socket descriptor?

[2022-09-19 10:13] Shinyzenith commented on #162
Okay! it's cool that udev can detect these things for me, intruiging.
However I think you're correct, we can drop this task from udev entirely and just implement good mouse support too. I have attempted this in an open pr but failed eventually, would you like to try your hand at it? I'll help as much as I can.

Also I've been meaning to ask, would you like to join us as a maintainer? I've noticed

[2022-09-19 13:09] ajanon commented on #162
Actually, I have already tried to work on this! I will report my findings in your PR.

That'd be great, I would love to be part of the team!
I am not exactly sure what that entails, however. Would it be possible to discuss this more? We can talk here or on Discord if you prefer.

[2022-09-19 13:51] Shinyzenith commented on #162
Sure, what's your username ? Ps: we are very laid back, there's no set responsibilities but let's talk over discord.

[2022-09-19 14:33] ajanon commented on #162
It is the same handle as my GitHub profile: ajanon

[2022-09-19 14:41] ajanon commented on #109
You are right, I did have to capture mouse input, and could not move the cursor afterwards as the events are not re-emitted to the virtual output. This was more a proof of concept that mouse buttons could be used for hotkeys and could also be mixed with keyboard modifier keys.

[2022-09-19 15:13] Shinyzenith commented on #162
And the tag?

[2022-09-19 15:28] ajanon commented on #162
Oh, right, sorry: ajanon#5057

[2022-10-06 09:25] #155 closed

[2022-10-06 09:37] Shinyzenith commented on #109
I'm not entirely sure to be honest with you 😅.

[2022-10-06 09:44] ajanon commented on #109
Maybe if some people have multiple input devices (e.g. keyboards) and multiple users at the same time?
Is this something that we want to support?

[2022-10-07 08:53] ajanon commented on #128
Is that really necessary?

Both the [Filesystem Hierarchy Standard](https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch03s18.html) and [POSIX](https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap10.html#tag_10_01) mandate that `/tmp` exists. I think that on most Linux distributions, it is also a [`tmpfs`](https://docs.kernel.org/filesystems/tmpfs.html) mount where everything is kept i

[2022-10-07 09:30] Shinyzenith commented on #128
Not really, just a nice-to-have.

[2022-10-07 12:11] ajanon commented on #76
I am looking into how `xset` does it, based on the available source: [xorg-xset](https://github.com/freedesktop/xorg-xset/blob/41b3ad04db4f9fdcf2705445a28c9cceecf6d980/xset.c).
There are many X11 bindings for Rust, I found [x11rb](https://github.com/psychon/x11rb) to be well documented and it seems maintained.

It should not be too hard to communicate directly with the X11 server instead of callin

[2022-10-14 09:35] BlueDrink9 commented on #67
If I may chime in on this feature (which I think is an excellent improvement over the sxhkd system, in general); it is slightly different in that it it does not give easy one-off chords. For example, with sxhkd I do
[code]
 to execute terminal. I do something similar for a bunch of other commands too, often with multiple options etc.
With swhkd I would have to do
[code]
That's a fine workaround fo

[2022-10-14 12:56] ajanon commented on #67
That seems like a nice improvement!

Could you open a separate issue for this suggestion? That would make it easier to track and discuss, thanks!

[2022-10-15 21:58] BlueDrink9 opened #164 "Feature: one-off /temporary/single press mode"
The mode system is excellent, but it is slightly different to sxhkd in that it it does not give easy one-off chords. For example, with sxhkd I do

[code]
to execute terminal. I do something similar for a bunch of other commands too, often with multiple options etc.
With swhkd I would have to do
[code]
That's a fine workaround for a once-off, but becomes very frustrating to do for every chord I def

[2022-10-15 22:29] BlueDrink9 commented on #164
As a side note, I tried to understand the parsing system for the config but found it quite difficult. Is there a reason the project isn't using a grammar-based parser? Is it to avoid dependencies or is it lack of familiarity with CF grammars?

[2022-10-17 06:54] ajanon commented on #164
Thanks for the issue!

To answer your comment: I am not sure why it was done this way in the beginning, as I was not part of the team.
I agree that the config parsing code is a bit difficult to follow, and it takes some time to get through.

I am planning to write a formal grammar for the config, but haven't taken the time to do it. Once this is done, writing the config parsing code using a separa

[2022-10-17 06:58] ajanon commented on #164
In your previous comment (https://github.com/waycrate/swhkd/issues/67#issuecomment-1278747644) you also mentioned using [skhd](https://github.com/koekeishiya/skhd). Quickly looking through `sxhkd`, `skhd` and `swhkd`, it seems all three try to do something similar but each with a slightly different config syntax.

I wonder if some standardization could be achieved.

[2022-10-18 04:27] TTWNO opened #165 "[Feature] Variables"
During the development of the [Odilia screen reader](https://github.com/odilia-app/odilia/) we have run into a fairly specific use-case.
A screen reader usually works using the capslock key as the "screen reader modifier"; this is fairly standard, but doesn't work very well in the accessibility and general Linux space due to custom keyboards, bindings, etc. not to mention that some people just pre

[2022-10-18 23:19] TTWNO commented on #149
Closing to open more specific issues.

[2022-10-18 23:19] #149 closed

[2022-10-18 23:27] TTWNO opened #166 "Hitting keys in the wrong order causes keys to be infinitely re-emitted"
**Version Information:**

- Linux blueie 6.0.2-zen1-1-zen #1 ZEN SMP PREEMPT_DYNAMIC Sat, 15 Oct 2022 14:00:51 +0000 x86_64 GNU/Linux
- swhkd 1.2.1

**Describe the bug:**

If keys are pressed in the reverse order specified in the config file, the event will still be triggered. In addition, the first key in the sequence will be repeated infinitely.
For example, if setting up the key combo like so:

[2022-10-18 23:30] TTWNO commented on #166
I'm not exactly sure what even causes this issue, but I'm quite curious if you could point me in the right direction. We do have a fork for our `Odilia` project in [our repo](https://github.com/odilia-app/odilia/tree/main/sohkd) for reference, and I'd be happy to make a PR for this issue since it is of immediate effect to us. I just can't quite fathom where the error is coming from, but perhaps th

[2022-10-19 02:42] BlueDrink9 commented on #164
I looked at my skhd config and realised it does modes well but not chords. Sxhkd does chords well, modes ok, but not modes and chords together

[2022-10-19 08:29] ajanon commented on #164
Ideally, we could have a single standardized config format for all three applications with all their features and maybe even a common parsing library. This may be hard to achieve, and as you said, maybe not that desirable.

[2022-10-19 08:43] ajanon commented on #165
Thanks for the idea!

This seems similar to #117 to me (with a slightly different use case). What do you think?

I am personally not too hyped by the prospect of supporting variables in the config, as I believe this would create many edge cases and weird (mis)uses. As is, I do not think I have strong technical arguments against this feature.
In addition, supporting this use case could also help in

[2022-10-19 09:48] ajanon commented on #166
Thanks for the report!

I think `p+ctrl` being triggered exactly like `ctrl+p` is by design, take a look at:
https://github.com/waycrate/swhkd/blob/fdf5e10ae42b58d2b45b10016ad63ebec5e16dd0/swhkd/src/daemon.rs#L341-L343

Basically, this checks that all modifier keys are pressed and that the keysym is also being pressed.
The keysym is added to the list of currently pressed keys at:
https://github.co

[2022-10-19 13:58] ajanon commented on #166
Unfortunately, I cannot reproduce the issue. I used a slightly different config to test your issue, on the latest git version of swhkd:
[code]

Pressing ` p + ctrl` does trigger the hotkey, but it has no issue stopping afterwards.

Could you give a bit more info about your environment?

[2022-10-19 14:50] ajanon commented on #166
Here are my findings:

When first pressing a key (`p` in the example) without a modifier, a key press event is sent to the virtual device to be consumed by other libraries and applications. Pressing the modifier key afterwards triggers the hotkey as expected. Releasing only the key at this point does _not_ send a key release event to the virtual output, as the `event_in_hotkeys` boolean is true (`

[2022-10-19 16:11] TTWNO commented on #166
The issue here is that, for example, `p + ctrl` does *not* work for most applications when they provide a key combo. Take for example, Firefox, which allows you to print a webpage with the `ctrl + p` key combo. If I type `p + ctrl`, it types the letter p out immediately, then control does nothing, because `p + ctrl` is not a key combo according to Firefox.

Due to that behavior in *other* applicat

[2022-10-19 16:22] ajanon commented on #166
Could you please test branch [key_release_events_fix](https://github.com/waycrate/swhkd/tree/key_release_events_fix) (in PR #167) and tell me if it solves your issue? (at least the second part).

As for ordered key bindings: making modifiers ordered might be hard (and I would find this pretty unintuitive to use personally), but triggering a hotkey only if the latest key press (/release) event is f

[2022-10-19 16:29] TTWNO commented on #166
Checked out the branch. This does fix the issue of the key perpetually repeating itself even after the key is released. However, now the key combo is passed through, in full, to the underlying application as if I had pressed the keys the other way around.

For example, in Firefox, pressed `ctrl + p` will activate the key combo and not be passed through to Firefox. Awesome! Pressed `p + ctrl`, howe

[2022-10-19 16:45] Shinyzenith commented on #165
I think I agree with @ajanon in the sense that we should improve our lexical parsing before attempting this to make sure we cover most of the edge cases. Apart from that I think this would be a fine feature to add but annoying to code in 🤣. Sorry for the late reply, I've been super busy with university lately.

[2022-10-19 16:47] Shinyzenith commented on #166
Didn't get the time to read the entire thread yet, but yes I've faced this bug multiple times. I think I will get to this asap after resolving the udev device issue.

@ajanon Just fyi, feel free to merge the mouse fix in the meanwhile 😁. Once again thanks for the help @ajanon !

[2022-10-20 09:46] BlueDrink9 opened #168 "Changing the parser to a context-free grammar approach"
Opening a new issue to further discuss the [comment in #164](https://github.com/waycrate/swhkd/issues/164#issuecomment-1280376134)

I've took a look at a few rust parsers, but hadn't seen either of those. My personal preference is to use parsers that use separate grammar files with dedicated specific syntax. In this case, `pest` looks like the best option by far. The reason I prefer this: it separ

[2022-10-24 05:51] formula-spectre opened #169 "Missing xf86Launch1 key?"
title says it all. in man swhkd-keys it does not appear, and a quick `ag -i xf86launch` in the repo returns nothing. possibly a bug? or an oversee?

[2022-10-26 19:11] Shinyzenith commented on #168
I didn't write any of the parser and lexer so I'll just go ahead and ping the ones who did: @EdenQwQ @angelofallars

[2022-10-26 19:11] Shinyzenith commented on #169
This is definitely an oversee, feel free to send a patch!

[2022-10-26 19:13] Shinyzenith commented on #162
I have time this weekend to work on the udev problem! I'll go ahead and start on a patch asap. PS: Cleared up some unnecessary messages.

[2022-10-27 13:51] formula-spectre commented on #169
i'll try my best!

[2022-11-24 15:22] seocamo commented on #137
+1, so people with logitech mice can ignore the mouse as they also got a keyboard device as extra keys and the mouse stop working, the device is not great as i use a laptop and i got more then 1 keyboard, so ignore would be so much better :D

[2022-11-25 16:07] #131 closed

[2022-11-25 21:13] Shinyzenith commented on #137
We now reemit mouse events just in case that it gets grabbed. Essentially this means mouse keybinds should work now too? I haven't tested it yet but adding the functionality will be trivial.

Would you mind testing master branchM

[2022-11-27 18:10] seocamo commented on #137
i cloned the main branch(as there is no master branch), and i build it and it work just fine with the mouse, nice work.

but sometimes when logout and then back in to sway,(i think maybe i was in i3 each time) the system lock up, i can't go to a tty, the monitor did not upload the time, never try that before, the only way was the power button.

i try this 6 times today, i can't get any info from -

[2022-11-27 20:33] Shinyzenith commented on #137
Hm @ajanon can you reproduce this by any chance? I'm aware of some session issues but haven't had them myself.

[2022-11-28 07:35] ajanon commented on #137
I did encounter this issue with swhkd.

@seocamo Your system is not completely locked up as you expected, but as swhkd grabs all devices exclusively there is basically no simple way to recover. If it happens again, there is a workaround:
- Ensure your system is set up to listen to Magic SysRq keys (you may need to reboot first if you change `sysctl` files):
  - https://wiki.archlinux.org/title/key

[2022-11-28 13:26] timgreen opened #173 "[Feature Request] auto timeout/@escape a mode"
I can see the [pull request 170](https://github.com/waycrate/swhkd/pull/170) is adding the mode options. This could be implemented as a option as well.

This is the missing feature I need to migration sxhkd chords chain.

Actually once this is implemented, support the same chords chain syntax  is just one step away.

[2022-11-28 13:39] timgreen opened #174 "`pkexec swhkd` turn off the wifi on start"
**Version Information:**

- Distribution Information ( run `uname -a` )

Debian 5.18.16

- swhkd version ( `swhkd -V` )

swhkd 1.2.1

**Describe the bug:**
`pkexec swhkd` turn off the wifi on start. I have to enable it manually after.

Note
- It turns off the wifi (not disconnect)
- Reload config is fine.

**Expected behavior:**
Don't turn off wifi

**Actual behavior:**

[code]

**To Reproduce:**

[2022-11-28 17:16] Shinyzenith commented on #174
Hi Tim, I'm not entirely sure why this happens but I've faced this issue too. Are we sure this isn't an issue with networkmanager / pkexec to begin with?

[2022-11-29 23:30] timgreen commented on #174
From limited tests, I believe it is caused by swhkd.

Things I observed
- pkexec other commands didn't turn off wifi. e.g. `pkexe ls`
- pkexec swhkd with a invalid config didn't turn off wifi
- pkexec swhkd while another swhkd is already running didn't turn off wifi

So the issue is likely in swhkd after performing config validation & other sanity checks.

[2022-11-30 07:58] ajanon commented on #174
I am unable to reproduce this issue on my side, so this will mostly be guess work.

I think there are three things which could create problems:
1. uinput device creation: not very likely
2. swhkd grabbing a wifi switch and messing with it: looking at the logs, this does not seem to be the case
3. the evdev library doing something weird in the background: this seems plausible

I don't think 1) coul

[2022-11-30 09:49] ajanon commented on #174
I managed to reproduce this on my end, I will investigate.

[2022-11-30 10:23] ajanon commented on #174
This was introduced in commit: af0115eb0cbd927a6ba21f5865d9e8489556db22

I will check if we can make this work or if we just revert the commit for now

[2022-11-30 23:13] timgreen opened #175 "[Feature Request] allow to reload config without password"
`pkexec pkill -HUP swhkd` requires password since there is no default policy for pkill.

One solutoin is to add reload option `-r, --reload-config` to `swhkd`